@model IEnumerable<Passengers.Models.Passenger>
@{
    ViewBag.Title = "Home Page";
}

@Html.RouteLink(linkText: "Добавить пассажира", routeName: "editPassenger", routeValues: new{}, htmlAttributes: new {@class = "btn btn-default"})

<table class="table">
    <thead>
    <tr>
        <th>
            Имя
        </th>
        <th>
            Тип пассажира
        </th>
        <th>
            Дата рождения
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var passenger in Model)
    {
        <tr>
            <td>
                @passenger.Name
            </td>
            <td>
                @Html.DisplayFor(m => passenger.PassengerType)
            </td>
            <td>@passenger.BirthDate.ToString("dd.MM.yyyy")</td>
            <td>@Html.RouteLink("Редактировать", "editPassenger", new { @id = passenger.Id }, new { @class = "btn btn-default" })</td>
        </tr>
    }
    </tbody>
</table>