@using System.ComponentModel.DataAnnotations
@using Passengers.Attributes
@using Passengers.Extensions
@using Passengers.Models
@model PassengerType

<select name="@Html.NameFor(m => m)" id="@Html.IdFor(m => m)" class="selectpicker">
    @foreach (PassengerType item in Enum.GetValues(typeof(PassengerType)))
    {
        var enumRangeAttribute = item.GetAttribute<EnumRangeAttribute>();

        <option value="@item" @(item == Model ? "selected" : "")
                data-min="@(enumRangeAttribute != null ? enumRangeAttribute.Minimum.ToString() : "")"
                data-max="@(enumRangeAttribute != null ? enumRangeAttribute.Maximum.ToString() : "")">
            @(item.GetAttribute<DisplayAttribute>().Name)
        </option>
    }
</select>
